.card-container {
    margin-top: 2rem;
    margin-bottom: 3.6rem;
}

.card-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin-top: 4rem;
    max-width: calc(50% - 12px);
}   

.img-container {
    overflow: hidden;
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    img {
        display: block;
        max-width: 100%;
        height: auto;
        transition: all 0.7s ease-out;
        &:hover{
            cursor: pointer;
            transform: scale(1.2);
        }
    }
}

.card-content {
    padding: 0.8rem;
    color: #3B3B3B;
    h2 {
        font-weight: 700;
        font-size: 28px;
        line-height: 1.2;
        margin-bottom: 0.4rem;
    }
    p {
        color: #919191;
        margin-bottom: 1.2rem;
    }
    ul {
        gap: 8px;
        display: flex;
        align-items: center;
        li {
            list-style: none;
            padding: 4px 12px;
            background-color: #f1f1f1;
            border-radius: 16px;
        }
    }
}

.pagination{
    margin: 0 auto;
    margin-bottom: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.page-item{
    background-color: white;
    border: none;
    border-radius: 4px;
    padding: 2px 13px;
    font-size: 24px;
    cursor: pointer;
    &:hover{
        background-color: black;
        color: #ffffff;
    }
}

.page-item.active{
    background-color: black;
    color: #ffffff;
}

.slogan{
    position: relative;
    padding: 72px;
    text-align: center;
    .left-quote{
        position: absolute;
        top: 0;
        left: 0;
    }
    .right-quote{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    h3{
        position: relative;
        font-size: 24px;
        line-height: 1.2;
        color: #1E1E1E;
        text-wrap: none;
        z-index: 1;
        img{
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
    }
}

.exp-box{
    max-width: 636px;
    display: flex;
    align-items: center;
    gap: 40px;
    .exp{
        position: relative;
        text-align: center;
        color: #3B3B3B;
        h3{
            padding: 0.5rem;
            color: #5B5B5B;
        }
        h3::before{
            content: "";
            width: 24px;
            border: 1px solid #C1C1C1;
            position: absolute;
            top: 35px;
            left: 46%;
        }
    }
}

@media (max-width: 920px){
    .card-container{
        margin-top: 0;
        margin-bottom: 2.4rem;
        .card-list{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .card{
                max-width: 100%;
                margin-top: 2.4rem;
            }
        }
    }
}

@media (max-width: 672px){
    .card-list{
        margin: 0 0.5rem;
    }
    .slogan{
        .left-quote{
            left: 45%;
        }
        h3{
            img{
                left: 40%;
            }
        }
    }
    .exp-box{
        margin: 0 1.5rem;
        flex-direction: column;
    }

}

@media (max-width: 372px){
    .slogan{
        h3{
            img{
                left: 30%;
            }
        }
    }
    .exp-box{
        margin: 0 2.5rem;
    }
}